h2 {
    color: #be80e2;
    background-color: #f4f1de;
    width: max-content;
    padding: 10px;
}

button {
    color: #8214c2;
    background-color: #ffddd2;
    border-color: #ffddd2;
    box-shadow: none;
    text-shadow: none;

}

p {
    color: #8410c7;
    font-style: italic;
    background-color: #dad5b7;
    padding: 5px;
    text-decoration-color: plum;
    text-transform: capitalize;
}
